.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding: 5px 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-img {
  margin-right: 15px;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-links li a {
  color: #1485ff;
  text-decoration: none;
}

.horizontal {
  color: #d1d2d28a;
}

.active-link {
  text-decoration: underline !important;
}

.rocket-info-container {
  display: grid;
  align-items: start;
  column-gap: 10px;
  margin-bottom: 15px;
  grid-template-columns: 20% 80%;
}

.rocket-info h2 {
  margin-top: 0;
}

.reserve-btn {
  background-color: #1485ff;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.cancel-btn {
  background-color: white;
  border: 0.2px solid grey;
  border-radius: 3px;
  color: grey;
  padding: 5px 7px;
}

.badge {
  background-color: rgb(5, 166, 172);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 1px 4px;
}

.join-btn{
outline: none;
border: 1px solid #6c757d;
background-color: #fff;
color: #6c757d;
border-radius: 4px;
padding: 5px 0px;
cursor: pointer;
width: 100px;
}
.rocket-img {
  height: 200px;
}

.rocket-img img {
  height: 200px;
  width: 100%;
}
